* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{
     font-weight: none;
    font-family: quicksand;
    background-color: rgb(218, 69, 69);
 }
//PRUEBA
$pixel:(
    h1:10px,
    h2:15px,
    h3:20px,
    h4:25px,
    h5:30px,
    h6:50px,
);
.name{
    font-weight: bold;
    font-size: large;
}
.row {
  padding-bottom: map-get($pixel, h5);
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.product, .product--1, .product--2, .product--3, .product--4 {
  border-radius: 15px 85px / 120px;
  box-shadow: 1px 5px 15px rgba(27, 20, 20, 0.904);
  width: 18em;
  height: auto;
  padding:2em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  margin-left: 1.1em;
}
.product--1:hover,.product--2:hover,.product--3:hover,.product--4:hover{
 cursor: pointer;
 transform: scale(1.05);
 transition: all 0.9s; 
}
$colorfondo1: #df759d9a;
$colorfondo2: #a6c259;
$colorfondo3: #c46494bb;
$colorfondo4: #d2d42d9a;
.product--1 {
  background:linear-gradient($colorfondo1, $colorfondo2);
}
.product--2 {
  background: linear-gradient($colorfondo4, $colorfondo3);
}
.product--3 {
  background: linear-gradient($colorfondo1, $colorfondo2);
}
.product--4 {
  background: linear-gradient($colorfondo4, $colorfondo3);
}
.product img, .product--1 img, .product--2 img, .product--3 img, .product--4 img {
    box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
    border-radius: 20px;
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
  p {
   color: rgba(38, 44, 27, 0.9);
 }
 button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
button:before {
   font-family: FontAwesome;
   content: "ïº";
   color: rgb(0, 0, 0);
   position: absolute;
   font-size: 1.5em;
   margin: 0 -1.5em;
 }
 button:hover {
   background: white;
   color: #19250c;
 }
}
 .imagen img{
    border-radius: map-get($pixel, h5);
    padding-top: .8rem;
 }
 .titulo h4{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
 }
 .lista{
     margin-top: map-get($pixel, h6);
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 15px;
 }
 .lista:hover,.lista a:hover{
     color:rgb(253, 223, 228);
    background-color: rgba(143, 76, 76, 0.507);
    transition: .4s;
    border-radius: 20px;
 }
 %flex{
    display: flex;
    flex-wrap: wrap;
 }
 .muestraprod{
    @extend %flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
 }
 /* MEDIA */
 
 @media screen and (max-width:992px) {
    * {
       margin: 0;
       padding: 0;
    }
    .navbar{
       height: 65px;
       width: 100%;}
    .collapse {
       width: 80vw;
       transition: background-color 1s ease-in;
       border: 2px solid rgba(0, 0, 0, 0.24);
       background-color: rgba(209, 153, 162, 0.644);
       text-align: center;
       font-weight: bold;
    }
    .navbar-nav .nav-item,
    .carrito{
       background-color: rgb(189, 129, 139);
       border: 2px solid rgba(0, 0, 0, 0.24);
    }
    button.botonbuscar:hover,
    .carrito:hover{
       background-color: rgba(63, 61, 61, 0.849);
       transition: .4s;
    }
    .buscador input::placeholder{
       color: #000000;
       font-weight: bold;
    }
    .carrito{
       margin-bottom: .7rem;
       margin-top: 1rem;
       margin-left: .9rem;
       margin-right: .9rem;
       padding: .5rem;
    }
    .buscador input {
       padding-bottom: 1.5rem;
    }
    .correo {
       width: 100%;
    }
    .correo .textf{
       width: 100%;
    }

    .conte_parent {
     display: flex;
    flex-wrap: wrap;
       flex-shrink: 1;
    }
 }
 /* FIN MEDIA */
 .navbar{ 
    height: 5rem;
    background: linear-gradient(to bottom, rgba(238, 148, 148, 0.616), rgba(255, 130, 130, 0.281), rgba(255, 255, 255, 0));
    border-radius: none;
 }
 .carrito {
    margin-top: .5rem;
    display: block;
   padding: .7rem;
    text-align: center;
 }
 
 .carrito {
    color: black;
    font-size: map-get($pixel, h5);
 }
 .navbar-nav li{
    padding: map-get($pixel, h1);
    margin: map-get($pixel, h1);;
 }
 .navbar-brand img{
    width: 150px;
    height: auto;
 }
 .navbar-nav li:hover,
 .carrito:hover{
    background-color: rgba(212, 159, 159, 0.925);
    transition: .4s;
 }
 .buscador {
    margin-top: 1rem;
    margin-left: .7rem;
 }
 
  button.botonbuscar {
    padding: .7rem;
    font-size: 1.25rem;
    width: 2.5em;
    height: auto;
    background-color: rgba(255, 235, 205, 0);
    border: none;
 }
 
 button.botonbuscar:hover {
    background-color: rgba(0, 0, 0, 0.445);
    transition: .4s;
 }
 
 .buscador input {
    width: 36vw;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background: none;
    border: 0.188rem solid #000000c2;
 }
 
 
 ::placeholder {
    text-align: center;
    font-size: 1.063rem;
    font-family: quicksand;
    color: rgba(54, 54, 54, 0.514);
 }
 
 
 a {
    color: black;
    text-decoration: none;
 }
 

 .conte a {
    color: black;
    text-decoration: none;
 }
 .informacion ul,
 .informacion,
 .precio {
    box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
    padding: 1rem;
    background: #6fa7306e;
 }
 
 .informacion {
    border-radius: 5px 110px / 80px;
    h1 {
        margin-top: 1.25rem;
        font-size: 1.563rem;
     }
     ul {
        border-radius: 100px 10px / 120px;
        list-style: none;
        text-align: center;
     }
 }

 .precio {
    list-style: none;
    text-align: center;
 }
 
 
 .precio {
    background: #807e1c;
    color: #1d1d07;
 }

 
 section {
    width: 100%;
    margin: 0;
    box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
    background: rgba(90, 67, 60, 0.281);
    padding: 1rem;
    text-align: center;
    border-radius: 1.25rem;
    border: none;
 }
 footer{
    box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
    background:rgba(0, 0, 0, 0.199);
    padding: 1rem;
    text-align: center;
    border-radius: 1.25rem;
    border: none;
 }
 section ul {
    list-style-type: none;
 }
 
 .promocion {
    margin-top: map-get($pixel, h5);
    margin-bottom: map-get($pixel, h6);
    font-size: map-get($pixel, h6);
    text-align: center;
    font-weight: bold;
 }
 
 .animate__fadeIn {
    animation: fade;
    animation-duration: 3s;
 }
 
 /* FOOTER */
 
 
 #footer {
    text-align: center;
    h5{
       font-size: 23px;
       font-weight: bold;
    }
    .redes {
      margin: 0.625rem;
      font-size: 20px;
      font-weight: bold;
   }
   .input-button {
      font-size: 2rem;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      padding: 0.5rem;
   }
   .input-button:hover {
      background-color: rgba(41, 35, 35, 0.507);
      transition: .4s;
   }
   input::placeholder{
      color: #000000a1;
      font-weight: bold;
      font-size: 20px;
   }
 }
 .content-footer{
     a{
         text-decoration: none;
         font-weight: bold;
         font-size: large;
     }
     a:hover{
        transition-property: background-color, color, left;
        transition-duration: .5s;
        -webkit-transition-property: background-color, color, left;
        -webkit-transition-duration: .5s;
        -o-transition-property: background-color, color, left;
        -o-transition-duration: .5s;
        text-align: center;
        background-color: rgba(241, 57, 186, 0.486);
        border: 2px solid rgba(63, 22, 51, 0.486);
        left: 90%;
        color: rgb(0, 0, 0);
     }
     
 }
 #icono {
    text-align: right;
 }
 

 .textf {
    width: 25em;
    padding: 0.313rem;
    border-radius: 1.25rem;
    background: none;
    border: 0.188rem solid #000000c2;
 }
 

 .article{
    text-align: center;
    padding: 50px 0px;
 }
 .pagos{
     color: #000000;
    font-size: map-get($pixel, h6);
    font-weight: bold;
 }
 /* COMIENZO SECCION 2 */
 .fotoprod {
    padding: 0.625rem;
    /* APLICA PARA SECCIONES 2 3 Y 4 */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.625rem;
    grid-template-areas:
       "a"
       "b"
       "c";
 }
 
 .item1 {
    grid-area: a;
 }
 
 .item2 {
    grid-area: b;
 }
 
 .item3 {
    grid-area: c;
 }
 .fotoprod img {
    display: block;
    margin: auto;
    border-radius: 1.25rem;
 }
 .producto:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.9s;
 }

 .producto {
     h5 {
    font-size: 1.063rem;
    text-align: center;
    margin-bottom: 0.938rem;
    }
    .preciop {
        background-color: rgba(128, 128, 128, 0.377);
        text-align: center;
        box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
        border-radius: 0.625rem 6.25rem / 7.5rem;
        margin-top: 0.625rem;
        margin-bottom: 1.25rem;
        padding-bottom: 0.188rem;
        padding-top: 0.188rem;
        margin-left: .5rem;
        margin-right: .5rem;
     }
     button{
        text-align: center;
     }
     p i {
        background-color: rgba(104, 102, 102, 0.726);
        text-align: center;
        display: block;
        box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
        border-radius: 0.625rem;
        padding-bottom: 0.188rem;
        padding-top: 0.188rem;
        margin-left: .5rem;
        margin-right: .5rem;
     }
     
 }
 @mixin alintit {
   font-size: 50px;
   font-weight: bold;
   text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
 }
 .velas {
  @include alintit()
 }
 
 /* COMIENZO SECCION 3 */
 .souvenirs {
  @include alintit()
 }
 
 /* COMIENZO SECCION 4 */
 .deco {
@include alintit()
 }
 .pres{
      text-align: center;
 }
 /*COMIENZO SECCION 5*/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    display: grid;
    background-color: coral;
    background-image: url(images/fondonuevo.jpg);
    background-size: cover;
    color: #242405;
    font-family: quicksand;
 }
 
 .content {
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    color: black;
 }
 
 .logo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.25rem;
 }
 
 .contact-wrapper {
    box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
    font-size: 1.063rem;
 }
 
 .contact-wrapper>* {
    padding: 1em;
 }

 @mixin buttoninfo {
    background: #272710b6;
    color: black;
    transition: background-color .5s ease-out;
 }
 $border: 0.063rem solid #5858165b;
 .contact-form {
    background-color: rgba(231, 203, 203, 0.87);
    display: grid;
    button {
        display: inline-block;
        width: 75%;
        padding: map-get($pixel, h1);
        margin-bottom: 15px;
        background: none;
        border-bottom: $border;
        border-radius: 10px 100px / 120px;;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.589);
     }    
    button:hover{
        @include buttoninfo();
    }
    button:focus{
        @include buttoninfo();
    }
    form{
        p {
        margin: 0;
        padding: 1rem;
        }
        .block {
            grid-template-columns: 2fr / 1fr;
         }
     }
     input {
        width: 100%;
        padding: 0.688rem;
        border: none;
        background: none;
        border-bottom: $border;
        color: #0e0e02
     }
     textarea {
        resize: none;
        width: 100%;
        padding: 0.688rem;
        border: none;
        background: none;
        border-bottom: $border;
        color: #0e0e02
     }
 }
 .contact-form button {
    background: #5555178a;
    border: none;
    font-weight: bold;
    padding: 1rem;
 }
 
 @mixin align {
    text-align: center;
    margin: 0 0 3rem 0;
 }
.infocontacto { 
    background: #bbb954;
    color: #202002;
    h4{
        @include align()
 }
    ul{
        @include align();
        list-style: none;
        padding: 0;
        li{
            padding: 0.313rem;
        }
 }
 p {
     @include align()
  } 
 }

 
 @media screen and (min-width: 768px) {
    .contact-wrapper {
       display: grid;
       grid-template-columns: 2fr 1fr;
    }
 
    .fotoprod {
       padding: 0.625rem;
       /* APLICA PARA SECCIONES 2 3 Y 4 */
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 0.625rem;
       grid-template-areas:
          "a  b  c";
    }
 }