.muestraprod {
   margin: 1.25rem;
}
body{
   font-family: quicksand;
   background-color: white;
}
.imagen img{
   border-radius: 30px;
   padding: .8rem;
}
nav{
   position:sticky
}
.lista a:hover{
   color: pink;
   transition: .4s;
}
.titulo h4{
   text-align: center;
   font-weight: bold;
   margin-bottom: 2px;
}
.lista:hover{
   background-color: rgba(143, 76, 76, 0.308);
   transition: .4s;
   border-radius: 20px;
}

.muestraprod{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
/* MEDIA */
@media screen and (max-width:1020px) {
   .body {
      margin: 0;
      padding: 0;
   }
   .navbar{
      height: 65px;}
   .collapse {
      transition: background-color 1s ease-in;
      border: 2px solid rgba(0, 0, 0, 0.24);
      background-color: rgba(209, 153, 162, 0.644);
      text-align: center;
      font-weight: bold;
   }
   .navbar-nav .nav-item,
   .carrito{
      background-color: rgb(189, 129, 139);
      border: 2px solid rgba(0, 0, 0, 0.24);
   }
   .buscador button:hover,
   .carrito:hover{
      background-color: rgba(63, 61, 61, 0.849);
      transition: .4s;
   }
   .buscador input{
      width: 10rem;
   }
   .buscador input::placeholder{
      color: #000000;
      font-weight: bold;
   }
   .carrito{
      margin-bottom: .7rem;
      margin-top: 1rem;
      margin-left: .9rem;
      margin-right: .9rem;
      padding: .5rem;
   }
   .buscador {
      padding-bottom: 1rem;
   }
   .correo {
      width: 100%;
   }
   .correo .textf{
      width: 100%;
   }
   fieldset {
      width: 100%;
   }
   .conte_parent {
      display: flex;
      flex-wrap: wrap;
   }
   .deco {
      font-size: 45px;
      text-align: center;
   }
   .velas {
      font-size: 45px;
      text-align: center;
   }
}
/* FIN MEDIA */
.navbar{ 
   height: 5rem;
   background: linear-gradient(to bottom, rgba(238, 148, 148, 0.616), rgba(255, 130, 130, 0.281), rgba(255, 255, 255, 0));
   border-radius: none;
}
.carrito {
   margin-top: .5rem;
   display: block;
  padding: .7rem;
   text-align: center;
}

.carrito {
   color: black;
   font-size: 30px;
}
.navbar-nav li{
   padding: 13px;
   margin: 13px;
}
.navbar-brand img{
   width: 150px;
   height: auto;
}
.navbar-nav li:hover,
.carrito:hover{
   background-color: rgba(212, 159, 159, 0.925);
   transition: .4s;
}
.buscador {
   display: block;
   margin-top: 1.3rem;
   margin-left: .7rem;
}

.buscador button {
   padding: .5rem;
   font-size: 1.25rem;
   width: 2.5em;
   height: auto;
   background-color: rgba(255, 235, 205, 0);
   border: none;
}

.buscador button:hover {
   background-color: rgba(0, 0, 0, 0.445);
   transition: .4s;
}

.buscador input {
   width: 20em;
   padding: 0.625rem;
   border-radius: 1.25rem;
   background: none;
   border: 0.188rem solid #000000c2;
}


::placeholder {
   text-align: center;
   font-size: 1.063rem;
   font-family: quicksand;
   color: rgba(54, 54, 54, 0.514);
}

article {
   margin: 1.25rem;
   font-size: 1.563rem;
}

article li {
   margin: 0.625rem;
}

article li:hover {
   background-color: rgba(199, 120, 120, 0.507);
   transition: .4s;
}

a {
   color: black;
   text-decoration: none;
}

.listatips a {
   color: black;
   text-decoration: none;
}

.conte a {
   color: black;
   text-decoration: none;

}

section fieldset {
   border-radius: 1.25rem;
}

.informacion ul,
.informacion,
.precio {
   box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
   padding: 1rem;
   background: #6fa7306e;
}

.informacion {
   border-radius: 1.25rem 6.25rem / 7.5rem;
}

.informacion h1 {
   margin-top: 1.25rem;
   font-size: 1.563rem;
}

.precio {
   list-style-type: none;
   text-align: center;
}

.informacion ul {
   border-radius: 6.25rem / 1.5rem 0.625rem;
   list-style-type: none;
   text-align: center;
}

.precio {
   background: #807e1c;
   color: #1d1d07;
}

.informacion h1 {
   text-align: center;
}

.conte_parent {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.conte {
   padding: 0.938rem;
   border-radius: 1.25rem;
}

.conte:hover {
   background-color: rgba(41, 35, 35, 0.479);
   transition: .4s;
}

.conte_parent img {
   border-radius: 1.25rem;
}

fieldset {
   box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
   background: rgba(90, 67, 60, 0.281);
   padding: 1rem;
   text-align: center;
   border-radius: 1.25rem;
   border: none;
}

fieldset ul {
   list-style-type: none;
}

.promocion {
   font-size: 45px;
   text-align: center;
}

.animate__fadeIn {
   animation: fade;
   animation-duration: 3s;
}

/* FOOTER */
.redes {
   margin: 0.625rem;
}

#footer {
   text-align: center;
}

#icono {
   text-align: right;
}

.input-button {
   font-size: 1.25rem;
   background-color: rgba(0, 0, 0, 0);
   border: none;
   padding: 0.188rem;
}

.textf {
   width: 25em;
   padding: 0.313rem;
   border-radius: 1.25rem;
   background: none;
   border: 0.188rem solid #000000c2;
}

.input-button:hover {
   background-color: rgba(41, 35, 35, 0.479);
   transition: .4s;
}

fieldset h5 {
   font-size: 1.063rem;
   padding-right: 1.5em;
}

/* COMIENZO SECCION 2 */
.fotoprod {
   padding: 0.625rem;
   /* APLICA PARA SECCIONES 2 3 Y 4 */
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 0.625rem;
   grid-template-areas:
      "a"
      "b"
      "c";
}

.item1 {
   grid-area: a;
}

.item2 {
   grid-area: b;
}

.item3 {
   grid-area: c;
}

.fotoprod img {
   display: block;
   margin: auto;
   border-radius: 1.25rem;
}
.producto:hover{
   cursor: pointer;
   transform: scale(1.05);
   transition: all 0.9s;
}
.producto h5 {
   font-size: 1.063rem;
   text-align: center;
   margin-bottom: 0.938rem;
}
.producto .preciop {
   background-color: rgba(128, 128, 128, 0.377);
   text-align: center;
   box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
   border-radius: 0.625rem 6.25rem / 7.5rem;
   margin-top: 0.625rem;
   margin-bottom: 1.25rem;
   padding-bottom: 0.188rem;
   padding-top: 0.188rem;
   margin-left: .5rem;
   margin-right: .5rem;
}

.producto p i {
   background-color: rgba(104, 102, 102, 0.726);
   text-align: center;
   display: block;
   box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
   border-radius: 0.625rem;
   padding-bottom: 0.188rem;
   padding-top: 0.188rem;
   margin-left: .5rem;
   margin-right: .5rem;
}

.velas {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   text-align: center;
}

/* COMIENZO SECCION 3 */
.souvenirs {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   text-align: center;
}

/* COMIENZO SECCION 4 */
.deco {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   text-align: center;
}

/*COMIENZO SECCION 5*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: grid;
   background-color: coral;
   background-image: url(https://cdn.pixabay.com/photo/2021/06/04/11/10/plants-6309538_960_720.png);
   background-size: cover;
   color: #242405;
   font-family: quicksand;
}

.content {
   max-width: 125rem;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
   color: black;
}

.logo {
   text-align: center;
   font-size: 3rem;
   margin-bottom: 1.25rem;
}

.contact-wrapper {
   box-shadow: 0.188rem 0.188rem 1.25rem 0.188rem;
   font-size: 1.063rem;
}

.contact-wrapper>* {
   padding: 1em;
}

.contact-form {
   background-color: rgba(231, 203, 203, 0.87);
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.contact-form button:hover,
.contact-form button:focus {
   background: #272710b6;
   color: black;
   transition: background-color .5s ease-out;
}

.contact-form form p {
   margin: 0;
   padding: 1rem;
}

.contact-form button {
   display: inline-block;
   width: 100%;
   padding: 0.688rem;
   background: none;
   border-bottom: 0.063rem solid #5858165b;
   border-radius: 1.25rem;
}

.contact-form form .block {
   grid-template-columns: 1fr / 3fr;

}

.contact-form input {
   width: 100%;
   padding: 0.688rem;
   border: none;
   background: none;
   border-bottom: 0.063rem solid #1d1d07;
   color: #0e0e02
}

.contact-form textarea {
   resize: none;
   width: 100%;
   padding: 0.688rem;
   border: none;
   background: none;
   border-bottom: 0.063rem solid #1d1d07;
   color: #0e0e02
}

.contact-form button {
   background: #5555178a;
   border: none;
   font-weight: bold;
   padding: 1rem;
}

.infocontacto {
   background: #bbb954;
   color: #202002;
}

.infocontacto h4,
.infocontacto ul,
.infocontacto p {
   text-align: center;
   margin: 0 0 3rem 0;
}

.infocontacto ul {
   list-style: none;
   padding: 0;
}

.infocontacto ul li {
   padding: 0.313rem;
}

@media screen and (min-width: 768px) {
   .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
   }

   .fotoprod {
      padding: 0.625rem;
      /* APLICA PARA SECCIONES 2 3 Y 4 */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.625rem;
      grid-template-areas:
         "a  b  c";
   }
}